APP_NAME="ABZ node task"
JWT_SECRET=secret_key
JWT_EXPIRES_ID=60s
PORT=3000

DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=DB_NAME
DB_USERNAME=DB_USER
DB_PASSWORD=secret
DB_LOGING=true
DB_SYNC=false

STATIC_PATH=/static
