{% extends "./layout/app.twig" %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/admin-lte/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="/admin-lte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/admin-lte/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{% endblock %}

{% block conent %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Employees</h3>
                <div class="project-actions text-right">
                    <button id="openCreateModal" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal" onclick="openCreateModal()">
                        <i class="fas fa-user-plus"></i>
                        Add employee
                    </button>
                </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped projects">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Date of employment</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Date of employment</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<!-- Delete Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="removeModalBody">
                Are you sure want to remove employee
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="removeButton" class="btn btn-primary">Remove</button>
            </div>
        </div>
    </div>
</div>

<!-- Create/Update Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="form-group">
                    <label for="inputPhoto-img">Employee photo</label>
                    <div class="text-center">
                        <img id="inputPhoto-img" class="profile-user-img img-fluid img-circle">
                    </div>
                    <label class="text-gray">File format png/jpeg up to 5MB, the minimum size 300x300px</label>
                    <div class="custom-file">
                        <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="inputPhoto" name="photo">
                        <label class="custom-file-label" for="customFile" id="inputPhoto-name">Choose photo</label>
                        <span id="inputPhoto-error" class="error invalid-feedback"></span>
                    </div>
                </div>
                <input type="hidden" id="inputId" name="id">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input
                            type="text"
                            name="full_name"
                            class="form-control"
                            id="inputName"
                            placeholder="Enter name"
                            aria-describedby="fullName-error"
                            maxlength="255"
                            minlength="2"
                            required
                    >
                    <div class="row">
                        <div class="col-md-8">
                            <span id="inputName-error" class="error invalid-feedback">Please enter a name</span>
                        </div>
                        <div class="col-md-4 text-right text-gray">
                            <span id="inputName-length" class="">0/255</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone</label>
                    <input
                            type="text"
                            name="phone"
                            class="form-control"
                            id="inputPhone"
                            placeholder="Enter phone"
                            aria-describedby="inputPhone-error"
                            required
                    >
                    <span id="inputPhone-error" class="error invalid-feedback">Please enter a phone</span>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input
                            type="email"
                            name="email"
                            class="form-control"
                            id="inputEmail"
                            placeholder="Enter email"
                            aria-describedby="Email-error"
                            maxlength="255"
                    >
                    <span id="inputEmail-error" class="error invalid-feedback">Please enter a email</span>
                </div>
                <div class="form-group">
                    <label for="selectPosition">Position</label>
                    <select class="form-control custom-select" name="position" id="selectPosition">
                    </select>
                    <span id="selectPosition-error" class="error invalid-feedback">Please select position</span>
                </div>
                <div class="form-group">
                    <label for="inputSalary">Salary, $</label>
                    <input
                            type="number"
                            name="salary"
                            class="form-control"
                            id="inputSalary"
                            placeholder="Enter salary"
                            aria-describedby="inputSalary-error"
                            max="500000"
                            min="0"
                    >
                    <span id="inputSalary-error" class="error invalid-feedback">Please enter salary</span>
                </div>
                <div class="form-group" id="chiefFormGroup">
                    <label for="selectChief">Chief</label>
                    <select class="form-control custom-select" name="chief_id" id="selectChief">
                        <option value="">No chief</option>
                    </select>
                    <span id="selectChief-error" class="error invalid-feedback">Please chose chief</span>
                </div>
                <!-- Date -->
                <div class="form-group">
                    <label>Date:</label>
                    <div class="input-group date" id="startDate" data-target-input="nearest">
                        <div class="input-group-append" data-target="#startDate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input type="text" id="inputStartDate" class="form-control datetimepicker-input" data-target="#startDate" name="start_date"/>
                        <span id="inputStartDate-error" class="error invalid-feedback">Please enter date</span>
                    </div>
                </div>
                <div class="row" id="updateModal-additionalData">
                    <div class="col-sm-6">
                        <strong>Created at:&nbsp;</strong>
                        <div id="updateModal-createAt"></div>
                    </div>
                    <div class="col-sm-6" >
                        <strong>Admin create ID:&nbsp;</strong>
                        <div id="updateModal-createAdmin"></div>
                    </div>
                    <div class="col-sm-6">
                        <strong>Updated at:&nbsp;</strong>
                        <div id="updateModal-updateAt"></div>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <strong>Admin update ID:&nbsp;</strong>
                        <div id="updateModal-updateAdmin"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="createButton" class="btn btn-primary">Add</button>
                <button type="button" id="updateButton" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <!-- DataTables -->
    <script src="/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- InputMask -->
    <script src="/admin-lte/plugins/moment/moment.min.js"></script>
    <script src="/admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/admin-lte/plugins/select2/js/select2.full.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="/admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- page script -->
    <script>
      //Date range picker
      $('#startDate').datetimepicker({
        format: 'Y-MM-DD'
      });
    </script>
{% endblock %}